/* Empty. Add your own CSS if you like */

.bar-balanced{
    box-shadow: 0 5px 5px grey;
}

.bar-balanced .title{
    font-weight: bold;
}

.item.item-avatar{
    background: #A1A4A4;
}

.item.item-body img{
    max-width: 100% !important;
    max-height: 100% !important;
}
